{% extends 'base.html.twig' %}

{% block title %}Creation article{% endblock %}

{% block body %}

<div class="container py-4">
    <h1>Creation article</h1>
    {{ form(form) }}
</div>

{% endblock %}
